.mainReg {
  height: 100vh;
  width: 100%;
  background-image: url("../../public/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.parentReg {
  background-color: white;
  width: 30vmax;
  height: 40vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.parentReg div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.parentReg div input {
  width: 20vmax;
  padding: 1vmax;
}

.btnOneReg {
  padding: 0.7vmax 1vmax;
  border: none;
  outline: none;
  border-radius: 40px;
  background-color: tomato;
  color: white;
  font-weight: 600;
  font-size: 1vmax;
  cursor: pointer;
  transition: all 0.7s;
  width: 15vmax;
}
.btnOneReg:hover {
  background-color: rgb(167, 57, 37);
}
